name: PR Stats
on:
  schedule:
    - cron: "0 0 * * *" # Runs daily
  workflow_dispatch:
jobs:
  update-stats:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: viniciustm/pull-request-stats@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
